body {
    font-family: 'Ubuntu', sans-serif;
}
h2 {
    font-family: 'Lato', sans-serif;
    font-size: 300%;
    line-height: 1.5;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 3%;
}
h3 {
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    
}
p {
    color: #8f8f8f;
}
#title {
    background-color: #ff4c68;
    color: #fff;
}
.big-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}
.p2 {
    line-height: 2;
}
.container-fluid {
    padding: 3% 15% 3% 15%;
}
.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar {
    padding-bottom: 0 0 1rem;
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
     font-size: 1.2rem;
}
.download-button {
    margin: 7% 5% 3% 5%;
}
.row{
    padding: 3% 15% 3% 15%;
    --bs-gutter-x: 0rem;
}
.title-img {
    width: 20%;
    transform: rotate(20deg);
    margin-left: 7%;
    position: absolute;
    top: 25%;
}
#features {
    padding: 7% 10%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.feature-box {
    text-align: center;
    padding: 4% 6%;
}
.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover {
    color: #ff4c68;
}
#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press {
    background-color: #fff;
    text-align: center;
    padding-top: 3%;
}
.press-img {
    width: 10%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 2.7%;
}
.carousel-item {
     padding: 7% 10%;
}
.card {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
.sign-up {
    margin-top: 4.7%;
}
#pricing {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
}
.hr2 {
    border: 2px solid #ef8172;
    width: 100%;
    margin: auto;
}
#cta{
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}
.cta-heading {
    font-family: 'Lato', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}
#footer {
    padding: 3% 15%;
    text-align: center;

}
.social-icon {
    margin: 30px 20px;
}
@media(max-width: 1028px){
    .title-img{
       position: static;
       width: 43%;
       transform: rotate(0);
    }
    #title {
      text-align: center;

    }
}